OPENSPG_SERVER_IMAGE=spg-registry.cn-hangzhou.cr.aliyuncs.com/spg/openspg-server:latest
OPENSPG_MYSQL_ROOT_PASSWORD=replace_with_url_safe_mysql_password
OPENSPG_JASYPT_PASSWORD=replace_with_url_safe_jasypt_password
OPENSPG_MINIO_ACCESS_KEY=replace_with_url_safe_minio_access_key
OPENSPG_MINIO_SECRET_KEY=replace_with_url_safe_minio_secret_key
OPENSPG_NEO4J_USER=neo4j
OPENSPG_NEO4J_PASSWORD=replace_with_url_safe_neo4j_password
OPENSPG_WEB_PORT=8887
